main {
    margin: 0px 250px;
    padding: 20px;
}
body {
    margin: 0%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
header {
    background-image: url(Pngtreefreelancersworkstationa3d4054042.jpg);
    background-size: 1600px 850px;
    background-repeat: no-repeat;
    height: 750px;
    padding: 10px 20px;
}
footer {
    background-color: #19212c;
    color: aliceblue;
    padding: 5px;
    width: 1600px;
    font-size: smaller;
}
.headerTop {
    align-content: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size:35px;
    padding: 10px 0px;
    margin-bottom: 100px;
}
a {
    text-decoration: none;
    color: aliceblue;
}

#headerTopDiv {
    display: grid;
    grid-template-columns: auto 60% auto;
}

#headerPInfo {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: 45px;
    align-items: center;
}

#headerPInfo img {
    border-radius: 150px;
    width: 150px;
    margin-bottom: 20px;
}

#headerPInfo button {
    padding: 20px;
    font-size: 25px;
    border-radius: 10px;
    margin: 20px;
    font-weight: bold;
    color: aliceblue;
    background-color:#454e60 ;
    width: fit-content;
    transition: all .5s ease;
}
#headerPInfo button:hover {
    color: rgb(0, 0, 0);
    background-color:#ffffff ;
    border: #454e60 solid 3px; 
    padding: 25px;
}

.PInfo {
    background-color: #2b3548;
    width: fit-content;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    color: aliceblue;
    font-weight: bold;
    margin: 30px;
}
footer div {
    margin: 20px;
}