.button1 {
    font-family: arial;
    color: white;
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 10px;
    border: 2px solid #1a3556;
    background: #1a3556;
    width: 300px;
    transition: all 0.4s;
}

.button1:hover {
    color: #1a3556;
    background: white;
    transform: scale(1.1);
}


.button2 {
    font-family: arial;
    color: black;
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 10px;
    border: 2px solid #1a3556;
    background: rgb(240, 240, 240);
}


.button2:hover {
    color: #1a3556;
    background: white;
}

.fourText {
    font-size: large;
    color: #1a3556;
    font-family: Arial, Helvetica, sans-serif;

}

#bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

#button   {  font-family: arial;
    color: black;
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 10px;
    border: 2px solid #1a3556;
    background: rgb(240, 240, 240);}

#name {
    display: flex;
    flex-direction: row;
}

#first {
    margin-right: 20px;
}

#form {
    padding: 30px;
    background-color: rgb(190, 190, 190);
    border-radius: 10px;
    border: 5px solid rgb(144, 144, 144)
}

.input {
    font-size: 18px;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    background: #FFFFFF;
    color: #000000;
    border: 1px solid #C4D1EB;
    transition: .3s ease;

}

.input::placeholder {
    padding: 10px;
    color: #DDDDDD;
}

select {
    border-radius: 5px;
    border: 1px solid #C4D1EB;
}
